body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.product {
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
}

.product img {
  max-width: 100%;
  height: auto;
}

.price {
  font-weight: bold;
  color: #333;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

img{
  width: 200px;
  height: 170px;
}